node_modules
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.bak

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### vaadin

/ae-core/frontend/generated
/vaadin-xterm-addon/frontend/generated/
/config/local/*.yaml

/ae-core/src/test/resources/local.properties
/config/users/autologin/

node_modules
target
.vscode
.settings
.project
.classpath
/aelexandria-corewebpack.generated.js
/aelexandria-corepackage-lock.json
/aelexandria-corepackage.json
/aelexandria-corewebpack.config.js
/ae-core/error-screenshots
/aelexandria-coretsconfig.json
/ae-core.idea
/ae-coretypes.d.ts
/ae-core/xtermfrontend/generated
/ae-core/xtermfrontend/index.html
/aelexandria-corevite.generated.ts
/ae-core/.npmrc
/ae-core/.pnpm-debug.log
/ae-core/pnpm-lock.yaml
/ae-core/pnpmfile.js
/ae-core/src/main/bundles
/ae-core/src/main/resources/META-INF/resources/public/docs

dependency-reduced-pom.xml
/ae-core/src/main/resources/config.zip

**/vite.generated.ts
/log
/ae-core/log
